<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mongoose Store</title>
</head>
<body>
    <nav>
        <a href="/mongoose-store">Back to Store</a>
    </nav>
    <h1><%=product.name%></h1>
    <h2><%=product.description%></h2>
    <img src="<%=product.img%>" alt="<%=product.name%> image">
    <h2>$<%=product.price%></h2>
    <h2>Qty: <%=product.qty%></h2>
    <!-- thinking about how to edit the product quantity on click -->
    <form action="/mongoose-store/<%=product._id%>?_method=PUT" method="POST">
        <button>BUY</button>
    </form>
    <form action="/mongoose-store/<%=product._id%>?_method=DELETE" method="POST">
        <button>DELETE ITEM</button>
    </form>

</body>
</html>